html, body{
    scroll-behavior: smooth;
    margin: 3em auto;
    width: 80%;
    height: 100%;
}

body {
    position: relative;
}

#overview, #agile, #uxr, #uxd, #tech, #demo {
    padding-top: 3em;
}

hr {
    margin-top: 6em;
}

.logo {
    margin-bottom: 3em;
}

h2 {
    font-weight: 500;
}
h5 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 2rem;
}
p {
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: initial;
}

a {
    font-size: 16px;
}

img {
    width: 90%;
}
.nav-brand {
    font-size: large;
}

.caption {
    font-size: medium;
    text-align: center;
    margin: .5em auto 2em auto;
    color: gray;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5em auto;
    width: 100%;
    background-color:#333333;
    color: white;
    text-align: center;
}

.footer > p {
    margin: 1.3rem;
}